.Brands {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'feather' !important;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    color: blue;

}
.trash_className{
    align-content: center;
    text-align: right;
    color: #E11212;
    margin: 5px;
    font-weight: bolder;
    font-size: 15px;
}
.edit_className{
    align-content: center;
    text-align: right;
    color: blue;
    margin: 5px;
    font-weight: bold;
    font-size: 15px;

}
.modal-dialog {
    max-width: none !important; /* Override max-width */
    width: 100% !important; /* Force width to 100% */
    margin: 0 !important; /* remove default margin */
}

.modal-content {
    width: 100% !important; /* Force modal content to 100% width */
}
.modal-slide-in.sidebar-todo-modal .modal-content {
    width: 100% !important;
    max-width: none !important;
}