.pretty-button {
    padding: 2% 4%;
    border: none;
    cursor: pointer;
    border-radius: 50%; /* Changed to 50% for circular corners */
    font-size: 1.4vw;
    font-weight: bold;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1; /*Ensures perfect circle*/
}

.small-button {
    padding: 1.5% 3%;
    font-size: 1.2vw;
    border-radius: 20%; /* Changed to 50% for circular corners */
    aspect-ratio: 1; /*Ensures perfect circle*/
}

.yes-button {
    background-color: black;
    color: white;
}

.no-button {
    background-color: red;
    color: white;
}

.pretty-button:hover {
    opacity: 0.8;
}